.cycle-gallery-wrapper { position: relative; }
	.cycle-gallery-wrapper .cycle-slideshow { z-index: 5; }
	.cycle-gallery-wrapper .slide-controls {
		position: absolute;
		top: 0;
		height: 100%;
		width: 20%;
		z-index: 10;
		display: block;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		outline: 0;
	}
		.cycle-gallery-wrapper .slide-controls:hover {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
			opacity: 1;
		}
		.cycle-gallery-wrapper .slide-controls:before {
			position: absolute;
			display: block;
			text-align: center;
			top: 50%;
			left: 50%;
			color: #ffffff;
			border: 3px solid #ffffff;
			width: 1em;
			height: 1em;
			line-height: .75em;
			font-size: 48px;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
			-webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.6);
			-moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.6);
			box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.6);
			-webkit-text-shadow: 0 0 5px rgba(50, 50, 50, 0.6);
			-moz-text-shadow: 0 0 5px rgba(50, 50, 50, 0.6);
			text-shadow: 0 0 5px rgba(50, 50, 50, 0.6);
		}
		.cycle-gallery-wrapper .slide-controls.prev { left: 0; }
			.cycle-gallery-wrapper .slide-controls.prev:before {
				content:'\00AB';
			}
		.cycle-gallery-wrapper .slide-controls.next { right: 0; }
			.cycle-gallery-wrapper .slide-controls.next:before {
				content:'\00BB';
			}
.cycle-slideshow.gallery { width: 100%; overflow: hidden; }
	.cycle-slideshow.gallery .gallery-item { width: 100%; height: auto; }
		.cycle-slideshow.gallery .gallery-item a { width: 100%; }
		.cycle-slideshow.gallery .gallery-item img { width: 100%; height: auto; padding: 0; max-width: none; }